extends layouts/main

block title
	title #{title}

block header
	p mainpage

block content
	.row
		.tips-wrapper.col-xs-6
	.row
		.col-xs-6.text-center
			h2 #{title}
	.row
		.col-xs-6.text-center
			a(href="/add-contact") Добавить контакт
	each val,key in contacts
		include partials/contactslist

block footer
	p Droid 4 app '2013

	script(src="/js/cl-delete-contact.js")