extends layouts/header

block title
	title #{title}

block content
	.container
		.row
			.col-lg-12.text-center
				h2 bootstrap
		.row
			.col-lg-6
				p Готовы в бой: Bootsrap, LESS, Jade, jQuery, nconf, Winston.
			.col-lg-6
				p Заложен в проект, но пока не используется middleware - SendHttpError

